<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">
            <img src="https://kaspi.kz/img/Logo.svg" alt="kaspi.kz" class="logo-img">
        </a>
        
        <nav>
            <ul class="menu">
                <li>Клиентам</li>
                <li>Бизнесу</li>
                <li>Kaspi Гид</li>
            </ul>
        </nav>

        <div class="lang">
            <ul>
                <li>Kaz</li>
                <li>Rus</li>
            </ul>
        </div>
    </div>
</header>
